<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Password Manager</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <h1><a href="index.html">Password Manager</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      <h2>You can save your password with us <span>with more privacy</span> </h2>

     
      <div class="dropdown">
        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Show options
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="/home"  title="Home"><i class="bi bi-house" ></i> Home</a>
          <a class="dropdown-item" routerLink="/signin"  title="Signin"><i class="bi bi-box-arrow-in-right"></i> Signin</a>
          <a class="dropdown-item" routerLink="/signup"  title="Signup"><i class="bi bi-plus-circle"></i> Signup</a>
        </div>
      </div>
     
      <!-- <div class="social-links">
        <a href="/home"  title="Home"></a>
        <a href="/signin"  title="Signin"></a>
        <a href="/signup"  title="Signup"></a>
        
      </div> -->

    </div>
  </header><!-- End Header -->


  <div class="credits">
   Designed and Developed by <a class="link_developer" href="https://wissem-hammami.ovh/" target="_blank">Wissem Hammami</a>
  </div>

  <!-- Vendor JS Files -->
  <script src="../../hometemplate/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../../hometemplate/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../hometemplate/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../hometemplate/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../hometemplate/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../hometemplate/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../../hometemplate/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../../hometemplate/assets/js/main.js"></script>

</body>

</html>